<div class='c-post-card-recent'>

  <a href='{{ post.link }}' class='js-fadein c-post-card-recent__image' style='background-image: url({{ post.thumbnail.src }})'>
    {% if post.featured %}
    <span title='Featured Post'>
      <span class='c-post-card-recent--featured__icon' data-icon='ei-star' data-size='s'></span>
    </span>
    {% endif %}
  </a>

  <div class='c-post-card-recent__meta'>
    <a class='c-post-card-recent__author' href='{{ post.author.link }}' title='{{ post.author.name }}'>{{ post.author.name }} - </a>

    <div class='c-post-card-recent__date'>
      <time datetime='{{ post.post_date|date('Y-m-d') }}' title='{{ post.post_date|date('dS M Y') }}'>{{ post.post_date|date('dS M Y') }}</time>
    </div>

    <h3 class='c-post-card-recent__title'>
      <a href='{{ post.link }}' class='c-post-card-recent__link'>{{ post.title }}</a>
    </h3>
  </div>

</div>
