<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{meta_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ theme.link }}/assets/img/favicon/manifest.json">
    <link rel="shortcut icon" href="{{ theme.link }}/assets/img/favicon/favicon.ico">
    <link rel="mask-icon" href="{{ theme.link }}/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>{{ function('pageTitle') }}</title>
    {{ wp_head }}
  </head>

  <body>
    <div class="js-off-canvas-container c-off-canvas-container">
      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
    </div>
    {{ wp_footer }}
  </body>
</html>
