<header class="c-header">

  <div class="o-grid">

    <div class="o-grid__col o-grid__col--3-4-s o-grid__col--1-4-l">
      <div class="c-logo">
          <a href='{{ site.url }}'>
            <img class='c-logo__img' src='{{ theme.link }}/assets/img/paul-mcbride.png' alt='{{ site.title }}'>
          </a>
          <h1 class="hide-title">{{ site.title }}</h1>
      </div>
    </div>

    <div class="o-grid__col o-grid__col--1-4-s o-grid__col--3-4-l">
      <div class="c-off-canvas-content js-off-canvas-content">
        <label class="js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close">
          <span class="c-off-canvas-toggle__icon"></span>
        </label>

        <nav class="o-grid">
          <nav class="o-grid__col o-grid__col--4-4-s o-grid__col--3-4-l">
            <ul class="c-nav o-plain-list">
              {% for item in main_menu.get_items %}
                <li class="c-nav__item">
                  <a href="{{item.get_path}}" class="c-nav__link {% if item.current %}c-nav__link--current{% endif %}">{{item.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <div class="o-grid__col o-grid__col--4-4-s o-grid__col--1-4-l">
            <ul class="o-plain-list c-social-nav">
              <li class='c-social-nav__item'>
                <a href='https://facebook.com/thepaulmcbride' target='_blank'>
                  <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
                </a>
              </li>
              <li class='c-social-nav__item'>
                <a href="https://twitter.com/thepaulmcbride" target="_blank">
                  <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size="s"></span>
                </a>
              </li>
              <li class='c-social-nav__item'>
                <a href="https://instagram.com/thepaulmcbride" target="_blank">
                  <span class='c-social-nav__icon' data-icon="ei-sc-instagram" data-size="s"></span>
                </a>
              </li>
              <li class='c-social-nav__item'>
                <a href="https://github.com/thepaulmcbride" target="_blank">
                  <span class='c-social-nav__icon' data-icon="ei-sc-github" data-size="s"></span>
                </a>
              </li>
            </ul>
          </div>

        </nav>
      </div>

      <label class="js-off-canvas-toggle c-off-canvas-toggle" aria-label="Toggle navigation">
        <span class="c-off-canvas-toggle__icon"></span>
      </label>
    </div>

  </div>

</header>
